### Importação dos dados

In [1]:
import pandas as pd

url = "base-de-dados-challenge-1/loja_1.csv"
url2 = "base-de-dados-challenge-1/loja_2.csv"
url3 = "base-de-dados-challenge-1/loja_3.csv"
url4 = "base-de-dados-challenge-1/loja_4.csv"

loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

In [14]:
lojas = { "Loja1": loja,
          "Loja2": loja2,
          "Loja3": loja3,
          "Loja4": loja4 }
todas_lojas = pd.concat(lojas)

In [18]:
todas_lojas.index.set_names(["Loja", "ID"], inplace=True)

#1. Análise do faturamento

In [21]:
faturamento = todas_lojas.groupby("Loja")["Preço"].sum()
faturamento

Loja
Loja1    1534509.12
Loja2    1488459.06
Loja3    1464025.03
Loja4    1384497.58
Name: Preço, dtype: float64

# 2. Vendas por Categoria

In [ ]:
categoria = todas_lojas.groupby(["Loja","Categoria do Produto"])["Preço"].sum()
categoria

Loja   Categoria do Produto
Loja1  brinquedos                23993.78
       eletrodomesticos         484913.36
       eletronicos              572659.23
       esporte e lazer           52387.55
       instrumentos musicais    121731.69
       livros                    11713.92
       moveis                   250178.11
       utilidades domesticas     16931.48
Loja2  brinquedos                21262.21
       eletrodomesticos         464758.13
       eletronicos              547773.71
       esporte e lazer           46326.09
       instrumentos musicais    139987.03
       livros                    13454.35
       moveis                   235234.68
       utilidades domesticas     19662.86
Loja3  brinquedos                25869.20
       eletrodomesticos         438984.89
       eletronicos              547699.92
       esporte e lazer           47456.10
       instrumentos musicais    103174.45
       livros                    12664.70
       moveis                   268095.56
       utilidades domesticas     20080.21
Loja4  brinquedos                27015.67
       eletrodomesticos         377680.65
       eletronicos              545966.86
       esporte e lazer           44465.65
       instrumentos musicais    100136.50
       livros                    12427.77
       moveis                   256705.65
       utilidades domesticas     20098.83
Name: Preço, dtype: float64

# 3. Média de Avaliação das Lojas

In [27]:
avaliação = todas_lojas.groupby("Loja")["Avaliação da compra"].mean()
avaliação

Loja
Loja1    3.976685
Loja2    4.037304
Loja3    4.048326
Loja4    3.995759
Name: Avaliação da compra, dtype: float64

# 4. Produtos Mais e Menos Vendidos

In [31]:
produtos = todas_lojas.groupby(["Loja","Produto"])["Produto"].count()
produtos

Loja   Produto
Loja1  Assistente virtual    40
       Bateria               53
       Bicicleta             54
       Blocos de montar      56
       Bola de basquete      55
                             ..
Loja4  Sofá retrátil         47
       TV Led UHD 4K         40
       Tablet ABXY           45
       Violão                37
       Xadrez de madeira     39
Name: Produto, Length: 204, dtype: int64

# 5. Frete Médio por Loja

In [28]:
frete = todas_lojas.groupby("Loja")["Frete"].mean()
frete

Loja
Loja1    34.691805
Loja2    33.621941
Loja3    33.074464
Loja4    31.278997
Name: Frete, dtype: float64